
pic:
  picturePath: F:\Vue\vue03\static\jpg
  savePath: F:\Vue\vue03\static\video

#spring boot 默认文件上传大小
spring:
  servlet:
    multipart:
      max-request-size: 200MB
      max-file-size: 200MB
  resources:
    static-locations: classpath:/META- INF/resources/,classpath:/resources/,classpath:/static/,classpath:/public/,classpath:/jsp/,classpath:/js/,classpath:/videos/
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    #driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/cookbook?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: admin
  http:
    encoding:
      force: true
      charset: UTF-8
      enabled: true

server:
  port: 8080
  servlet:
    context-path: /cookbooktest
  thymeleaf:
    # encoding: UTF-8
    # prefix: classpath:/templates/
    # suffix: .html
    mode: HTML5  # 视图模型
    cache: false # 模板缓存
  tomcat:
    url-encoding: UTF-8
  address: 127.0.0.1
logging:
  level:
    com.cookbook.dao : debug